<!-- Everything here gets displayed on every page -->
<div class="container-fluid" id="app-main">
{{#bs-navbar class="bg-primary" as |navbar|}}
	  <div class="navbar-header">
	    {{navbar.toggle}}
	    <!-- <a class="navbar-brand">FlashyCards</a> -->
	  </div>
  {{#navbar.content}}
	  {{#navbar.nav as |nav|}}
		  {{#if auth.isLoggedIn}}
				{{#nav.item}}
			    {{#nav.link-to "index"}}Home{{/nav.link-to}}
		    {{/nav.item}}
				{{#nav.item}}
					{{#nav.link-to "userprofile"}}Profile{{/nav.link-to}}
				{{/nav.item}}
				{{#nav.item}}
					{{#nav.link-to "editdeck"}}Edit Deck{{/nav.link-to}}
				{{/nav.item}}
				{{#nav.item}}
				  <a {{action "logout"}}>Logout</a>
				{{/nav.item}}
			{{else}}
			  {{#nav.item}}
				  {{#nav.link-to "login"}}Login{{/nav.link-to}}
			  {{/nav.item}}
			  {{#nav.item}}
			    {{#nav.link-to "register"}}Register{{/nav.link-to}}
			  {{/nav.item}}
			{{/if}}
	   {{/navbar.nav}}
  {{/navbar.content}}
{{/bs-navbar}}

<br>
{{#if auth.isLoggedIn}}
  Welcome, {{auth.username}}!
	<br>
{{/if}}

{{liquid-outlet "main"}}

	<!-- <div class="row row-offcanvas row-offcanvas-left {{showMenu}}">
		<div id="sidebar" class="col-xs-6 col-sm-4 col-md-3 sidebar-offcanvas">

		</div>
		<div class="col-xs-12 col-sm-8 col-md-9 content-column">
			<div class="small-navbar visible-xs">
				<button type="button" data-toggle="offcanvas" class="btn btn-ghost pull-left" {{action 'toggleMenu'}}> <i class="fa fa-align-left"> </i>Menu</button>
			</div>
			{{liquid-outlet "main"}}
		</div>
	</div> -->

</div>
