
{{outlet}}
<!-- <button {{action 'switchView'}}>Switch</button>
{{#each model as |deck|}}
  {{#each deck.flashcards as |flashcard|}}
  <div class="row">
    <div class="col-sm-3 col-md-2 col-md-offset-1">
      <article class="deck">
        <div class="container">
          <div class="header-img"><img src="/static/ember/img/plain-notecard.jpg" width="30%" class="img-rounded"/></div>
          <div class="centered">
            {{#if isTerm}}
              {{flashcard.term}}
            {{else}}
              {{flashcard.definition}}
            {{/if}}
          </div>
        </div>
      </article>
    </div>
  </div>
  {{/each}}
{{/each}} -->

{{#each model.flashcards as |flashcard|}}
  {{view-flashcard flashcard=flashcard}}<br>
{{/each}}

<button {{action 'deleteDeck'}}>Delete Deck</button><br>
